body {
    background-color: #74EBD5;
    background-image: linear-gradient(90deg, #74EBD5 0%, #001ca4 100%);

}

header {
    display: flex;
    justify-content: center;
}

ul {
    display: flex;
    list-style: none;
    font-size: 60px;
    gap: 28px;
    text-transform: uppercase;

}

.nav-item:hover{
    cursor: pointer;
    background-color:#001ca4;
    color:whitesmoke ;
}